<!DOCTYPE html>
<html>
  <head>
    <title>Volatile</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body>
    <div class="flex flex-col h-screen justify-between">
      <div class="w-full max-w-6xl mx-auto px-4 pt-6">
        <div class="text-lg font-semibold mb-4">Volatile CRM</div>

        <%= yield %>
      </div>
    </div>
  </body>
</html>
